.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.Card-group {
  text-align: center;
}

.AccountPage__form {
  width: 100%;
  text-align: center;
}

.out-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 4vh;
}

.root-btn {
  background: #aaa;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
